asgiref==3.2.3
astroid==2.3.3
cffi==1.14.0
cryptography==2.8
Django==3.0.4
django-appconf==1.0.3
django-crispy-forms==1.8.0
django-cryptography==1.0
django-taggit==1.1.0
html5lib==1.0.1
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.1.1
markdown-checklist==0.4.1
mccabe==0.6.1
Pillow==6.2.1
pkg-resources==0.0.0
pycparser==2.20
Pygments==2.5.2
pylint==2.4.4
python-decouple==3.3
pytz==2019.3
reportlab==3.5.32
six==1.14.0
sqlparse==0.3.1
typed-ast==1.4.1
Unidecode==1.1.1
webencodings==0.5.1
wrapt==1.11.2
